.mainImage {
  z-index: 10;
  position: relative;
}

.body {
  color: #061838;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.body strong {
  font-weight: 700;
}

.body h2 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 1.8px;
  margin: 40px 0;
}

.body h3 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 1.8px;
  margin: 40px 0;
}

.body h6:after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 50px;
  background: #eabb26;
}

.body h6:after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 50px;
  background: #eabb26;
}

.mainImg > div {
  opacity: 0.99 !important;
}

.body img {
  margin: 40px 0;
  padding: 0 50px;
}

.body div div img {
  margin: 0;
  padding: 0;
}

.body div div img {
  margin: 0;
}

.body p {
  margin: 40px 0;
  line-height: 26px;
  letter-spacing: 0.96px;
}

.body div:last-child,
.body h2:last-child,
.body h3:last-child,
.body p:last-child,
.body ol:last-child,
.body ul:last-child,
.body img:last-child,
.body blockquote:last-child {
  margin-bottom: 0px;
}

.body div:first-child,
.body h2:first-child,
.body h3:first-child,
.body p:first-child,
.body ol:first-child,
.body ul:first-child,
.body img:first-child,
.body blockquote:first-child {
  margin-top: 0px;
}

.body ol {
  list-style-type: decimal;
  margin-left: 20px;
  letter-spacing: 0.96px;
}

.body ol > li > li {
  list-style-type: lower-roman;
  margin-left: 25px;
}

.body ul {
  list-style-type: disc;
  margin-left: 20px;
  letter-spacing: 0.96px;
}

.body ul > li > li {
  list-style-type: square;
  margin-left: 25px;
}

.body blockquote {
  font-size: 26px;
  letter-spacing: 1.56px;
  line-height: 33px;
  margin: 40px 80px;
  text-transform: uppercase;
  text-align: center;
}

.whiteText p {
  font-size: 22px;
  line-height: 34px;
  font-weight: 200;
  margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
  .body blockquote {
    margin: 40px 60px;
  }
  .body img {
    margin: 40px 0;
    padding: 0 0px;
  }
}

@media only screen and (max-width: 550px) {
  .body blockquote {
    margin: 40px 20px;
  }
}
