.heroHeading p {
  font-size: 24px;
  line-height: 32px;
}

.heroHeading p {
  font-weight: 200;
}
.heroHeading p strong {
  font-weight: 700;
}

@media screen and (min-width: 380px) {
  .heroHeading span p {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
}

@media (min-width: 640px) {
  .heroHeading span p {
    max-width: 410px;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-align: left;
  }
}
