{
  "extends": "@blueberrypie/eslint-config",
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.tsx", "*.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}
