.search input:focus ~ span {
  display: none;
}

.search input::placeholder {
  font-weight: 700;
}

.search {
  height: 100%;
  display: flex;
  align-items: center;
}

.listItem span {
  transition: 0.3s ease-in all;
  z-index: 0;
}

.checkbox:checked ~ span {
  transform: translateX(20px);
  font-weight: bold;
}

.line {
  height: 3px;
}

.checkbox,
.dot {
  z-index: 20;
  opacity: 0;
}

.filterCheckbox,
.filter {
  z-index: 20;
  opacity: 0;
}

.filter {
  transition: 0.1s ease opacity;
  pointer-events: none;
}

.filterCheckbox:checked ~ .filter {
  opacity: 100%;
  pointer-events: all;
}

.dot {
  transition: 0.1s ease opacity;
  opacity: 0%;
}

.checkbox:checked ~ .dot {
  opacity: 100%;
}
