.largeTitleInput,
.subTitleInput {
  display: none;
}

@media only screen and (max-width: 800px) {
  .largeTitleInput,
  .subTitleInput {
    display: block;
    position: absolute;
    width: 110vw;
    cursor: pointer;
    z-index: 30;
    opacity: 0;
  }

  .largeTitleInput {
    height: 40px;
  }

  .subTitleInput {
    height: 30px;
  }

  .largeTitleInput:not(:checked) ~ div li,
  .largeTitleInput:not(:checked) ~ div ul,
  .largeTitleInput:not(:checked) ~ div a,
  .subTitleInput:not(:checked) ~ ul,
  .subTitleInput:not(:checked) ~ a,
  .subTitleInput:not(:checked) ~ li {
    display: none;
  }
  .largeTitleInput:checked ~ div li,
  .largeTitleInput:checked ~ div > a,
  .subTitleInput:checked ~ ul,
  .subTitleInput:checked ~ li {
    display: block;
  }
}
