.mainImage {
  z-index: 10;
  position: relative;
}

.mainImg > div {
  opacity: 0.99 !important;
}

.body {
  color: #061838;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.body > a {
  text-decoration: underline;
}

.body strong {
  font-weight: 700;
}

.body h2 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 1.8px;
  margin: 40px 0;
}

.body h3 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 1.8px;
  margin: 40px 0;
}

.body h4 {
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1.44px;
  font-weight: 500;
  margin: 40px 0;
}

.body h6 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1.8px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px;
}

.body h6:after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 50px;
  background: #eabb26;
}

.body h6:after {
  content: '';
  display: block;
  margin-top: 5px;
  height: 3px;
  width: 50px;
  background: #eabb26;
}

.body img {
  margin: 40px 0;
  padding: 0 50px;
}

.body div div img {
  margin: 0;
  padding: 0;
}

.body div div img {
  margin: 0;
}

.body p {
  color: #061838;
  margin: 40px 0;
  line-height: 26px;
  letter-spacing: 0.96px;
}

.body ol {
  list-style-type: decimal;
  margin-left: 20px;
  letter-spacing: 0.96px;
}

.body ol > li > li {
  list-style-type: lower-roman;
  margin-left: 25px;
}

.body ul {
  list-style-type: disc;
  margin-left: 20px;
  letter-spacing: 0.96px;
}

.body ul > li > li {
  list-style-type: square;
  margin-left: 25px;
}

.body blockquote {
  font-size: 26px;
  letter-spacing: 1.56px;
  line-height: 33px;
  margin: 40px 80px;
  text-transform: uppercase;
  text-align: center;
}

.whiteText p {
  color: white !important;
  font-size: 22px;
  line-height: 34px;
  font-weight: 200;
  margin-bottom: 24px;
}
.darkText p {
  color: #061838 !important;
  font-size: 22px;
  line-height: 34px;
  font-weight: 200;
  margin-bottom: 24px;
}

.darkText strong,
.whiteText strong {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .body blockquote {
    margin: 40px 60px;
  }
  .body img {
    margin: 40px 0;
    padding: 0 0px;
  }
}

@media only screen and (max-width: 550px) {
  .body blockquote {
    margin: 40px 20px;
  }
}

@media only screen and (max-width: 639px) {
  .darkText p,
  .whiteText p {
    font-size: 18px;
    line-height: 30px;
  }
}
