.ctaContainer {
  margin: 40px 60px;
  position: relative;
}

.wrapper {
  display: grid;
}

.videoWrapper {
  display: flex;
  flex-direction: column;
}

.video {
  max-height: 100%;
}

.textWrapper {
  background: #061838;
  color: white;
  padding: 22px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

p.heading {
  color: white;
  font-size: 20px;
  margin: 0 !important;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  color: white !important;
  margin: 0 !important;
  font-size: 14px;
  line-height: 24px;
}

.buttonWrapper {
  font-size: 17px;
  margin-top: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
}

.iconWrapper {
  display: block;
  top: 12px;
  position: absolute;
  right: 12px;
  pointer-events: none;
  cursor: pointer;
  transform: scale(0.7);
  z-index: 30;
}

.crossIcon {
  display: block;
}

.imageTextFlip h2:first {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 1.8px;
  margin: 0px 0 16px;
}

.checkbox {
  position: absolute;
}

.expandIcon {
  transform: scale(2.3) translateY(12px) translateX(-5px) rotate(-90deg);
  display: none;
}

.checkbox:checked ~ .mediaWrapper {
  display: none;
}

.checkbox:checked ~ .iconWrapper > .crossIcon {
  display: none;
}

.checkbox:checked ~ .wrapper .heading {
  width: 80%;
}

.checkbox:checked ~ .iconWrapper > .expandIcon {
  display: block;
}

.checkbox {
  position: absolute;
  top: 8px;
  right: 12px;
  height: 40px;
  width: 40px;
  transform: scale(0.7);
  z-index: 20;
  opacity: 0;
  cursor: pointer;
}

.imageTextFlip h2 {
  margin: 0 0 20px 0 !important;
}

@media only screen and (max-width: 639px) {
  .ctaContainer {
    margin: 30px 0px;
    position: relative;
  }
}

@media only screen and (max-width: 507px) {
  .expandIcon {
    transform: scale(2.3) translateY(20px) translateX(-5px) rotate(-90deg);
    display: none;
  }
}
