@tailwind base;
@tailwind components;
@tailwind utilities;

.chatlio-title-bar {
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

#chatlio-message-container {
  overflow-y: auto;
}

.chatlio-title-text {
  top: -3px;
}

.chatlio-controls-close {
  top: -3px;
}

.chatlio-chat-header-menu__trigger {
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  @variants hover, focus {
    .filter-grayscale-0 {
      filter: grayscale(0);
    }
    .filter-grayscale {
      filter: grayscale(100%);
    }
    .hyphenate {
      hyphens: auto;
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
    }
    .hide-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .hide-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .multicol-2 {
      column-count: 2;
    }
  }
}

@layer base {
  strong {
    font-weight: 600;
  }
}
